@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;700;900&family=Spartan:wght@300;400;700;900&display=swap');

html, body {
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Spartan', sans-serif;
}

p {
  font-family: 'Spartan', sans-serif;
}

button, a {
  cursor: pointer;
}

:root {
  --white: #fff;
}

/* HEADER OFFSET FIX */
.top--offset {
  margin-top: 95px;
}

/* AREA TOP */
.area-100 {
  margin-top: 100px;
}

.area-150 {
  margin-top: 150px;
}

.area-200 {
  margin-top: 200px;
}

/* AREA BOTTOM */
.area--b-100 {
  margin-bottom: 100px;
}

.area--b-150 {
  margin-bottom: 150px;
}

.area--b-200 {
  margin-bottom: 150px;
}

.dark--text {
  color: #000;
}

/* HEADER */
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 95px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.header--logo {
  font-size: 50px;
  font-weight: 700;
  color: #000;
}

.header--logo:hover {
  color: #000;
}

.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header--nav {
  display: flex;
  width: auto;
  margin-right: 10%;
}

.navbar-link {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-left: 16px;
  text-decoration: none;
}

.navbar-link:after {
  display:block;
  content: '';
  border-radius: 8px;
  border-bottom: solid 3px #000;  
  transform: scaleX(0);  
  transition: transform 350ms ease-in-out;
  transform-origin:100% 50%
}

.navbar-link:active:after,
.navbar-link:focus:after,
.navbar-link:hover:after { 
  transform: scaleX(1);
  transform-origin:0 50%;
}

@media screen and (max-width: 509px) {
  .header {
    height: auto;
  }

  .header--wrapper {
    flex-direction: column;
  }
}

/* BANNER */
.banner {
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20px;
  background-attachment: fixed;
}

.banner--box {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  max-width: 30%;
  height: calc(100vh - 95px);
  margin: 0 0 5em 3em;
}

.banner--button {
  position: relative;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 900;
  height: 48px;
  text-decoration: none;
  padding: 0 2em;
  margin: 1em 0;
  transition: 0.2s ease-in-out;
  z-index: 5;
}

.banner--button:before {
  background: #fff;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: pulse 1.5s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-width: 564px) {
  .banner--box {
    align-items: center;
    max-width: 100%;
    margin: 0 !important;
  }

  .banner--button {
  }
}

/* ABOUT */
.about--title {
  position: relative;
  font-weight: 400;
}

.about--title:before {
  content: "Moderno";
  color: #000;
  font-size: 72px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  left: -50%;
  opacity: 0.1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about--image-left,
.about--image-right {
  background: #c4c4c4;
  width: 45%;
  height: 300px;
}

.about--image-left {
  background-image: url('https://thumbs.dreamstime.com/b/online-internet-data-information-password-vector-illustration-protection-technology-cartoon-network-security-secure-187256498.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about--image-right {
  background-image: url('https://www.hostinger.com.br/tutoriais/wp-content/uploads/sites/12/2019/05/O-que-e-Home-Office-Guia-Pratico-2019-1280x720.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about--wrapper {
  max-width: 30%;
  margin: auto;
}

.about--row-text {
  /* max-width: 30%; */
  margin: auto;
}

@media screen and (max-width: 564px) {
  .about--title:before {
    font-size: 50px;
  }

  .about--row {
    flex-direction: column;
    margin: 1em 0;
  }

  .about--row:last-child {
    flex-direction: column-reverse;
  }

  .about--image-left,
  .about--image-right {
  width: 100%;
  }

  .about--wrapper {
    max-width: 90%;
  }
}

/* COMMITMENT */
.commitment {
  background: #cc4;
  height: calc(100vh - 95px);
  background-image: linear-gradient(to right, #3f3fe9, #324dea, #2858ea, #2363e8, #266ce6, #2975e8, #2f7ee9, #3886ea, #3f91f0, #489df5, #53a8fa, #5fb3ff);
}

.commitment--box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 40%; */
  height: 100%;
  padding: 0 4em;
}


.commitment--box-title {
  font-weight: 700;
}

.commitment--box-text {
  color: #fff;
  max-width: 80%;
  padding-left: 1.5em;
}

.commitment--box-image {
}

@media screen and (max-width: 821px) {
  .commitment {
    height: auto;
  }

  .commitment--box {
    flex-direction: column;
    padding: 1em;
  }
}

/* GALLERY */

.gallery {
  /* background: tra */
  padding-top: 95px;
  background: #1D1C1C;
  min-height: calc(100vh - 95px);
}

.gallery--box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1em;
}

.gallery--services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery--card {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 400px !important;
  height: 180px !important;
  padding: 1em;
  border: 1px solid #d9d9d9;
  transition: 0.2s ease-in-out;
}

.gallery--card-text {
  text-align: start;
}

.gallery--card:hover {
  background: #fff;
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%, rgba(207,207,207,1) 100%); */
  transform: scale(1.05);
}

.gallery--box-text,
.gallery--box-title,
.gallery--card-title,
.gallery--card-text {
  color: #fff;
}

.gallery--card:hover .gallery--box-text,
.gallery--card:hover .gallery--box-title,
.gallery--card:hover .gallery--card-title,
.gallery--card:hover .gallery--card-text
 {
  color: #000;
}

.gallery--card-button {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 150px;
  height: 40px;
  border: 2px solid #fff;
  outline: none;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.gallery--card:hover .gallery--card-button {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}

.gallery--card span {
  color: #fff;
  position: relative;
  z-index: 50;
}

.gallery--card:hover span {
  color: #000;
}

.gallery--card-button:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  background: #1D1C1C;
  width: 90%;
  height: 100%;
  transform: scaleX(1);
  transition: 0.2s ease-in-out;
}

.gallery--card:hover .gallery--card-button:before {
  background: #fff;
}

.gallery--card-button:hover:before {
  transform: scaleX(0);
}

.gallery--card-button:after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 0;
  background: #1D1C1C;
  width: 90%;
  height: 100%;
  transform: scaleX(1);
  transition: 0.2s ease-in-out;
}

.gallery--card:hover .gallery--card-button:after {
  background: #fff;
}

.gallery--card-button:hover:after {
  transform: scaleX(0);
}


@media screen and (max-width: 564px) {
  .gallery {
    padding-bottom: 2em;
  }
}

/* FOOTER */
.footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.footer--title {
  margin: 0;
}


/* SIGNUP */

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


/* LOGIN */
.login--image {
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .login {
    flex-direction: column;
    margin-top: 15vh;
  }
}